<h1><%=t :listing_test_data %></h1>
<p>Locale for <%= @test_locale %></p>
<p><%= flash[:notice] %></p>
<table>
  <tr>
    <th><%=t :content %></th>
    <th><%=t :price %></th>
    <th><%=t :created_at %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_data.each do |test_datum| %>
  <tr>
    <td><%= test_datum.content %></td>
    <td><%= number_to_currency(test_datum.price) %></td>
    <td><%=l test_datum.created_at %></td>
    <td><%= link_to t(:show), test_datum %></td>
    <td><%= link_to t(:edit), edit_test_datum_path(test_datum) %></td>
    <td><%= link_to t(:destroy), test_datum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_test_datum), new_test_datum_path %>
